
    <div class="panel panel-primary">
        <div class="panel-heading" class="text-primary" class="d-block p-2 bg-primary text-white" >
          {{ title }}
        </div>
        <div class="panel-body">
          <form [formGroup]="angForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">Product Name</label>
              <input type="text" class="form-control" formControlName="name" #name />
            </div>
            <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['name'].errors.required">
                Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Product Description</label>
              <input type="text" class="form-control" formControlName="description" #description/>
            </div>
            <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['description'].errors.required">
                Description is required.
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Product Category</label>
                <input type="text" class="form-control" formControlName="category" #category />
              </div>
              <div *ngIf="angForm.controls['category'].invalid && (angForm.controls['category'].dirty || angForm.controls['category'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['category'].errors.required">
                  Category is required.
                </div>
              </div>
              <div class="form-group">
                  <label class="col-md-4">Product Price</label>
                  <input type="text" class="form-control" formControlName="price" #price />
                </div>
                <div *ngIf="angForm.controls['price'].invalid && (angForm.controls['price'].dirty || angForm.controls['price'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['price'].errors.required">
                   Price is required.
                  </div>
                </div>                  
              <div class="form-group">
                <button (click)="addProduct(name.value, category.value, description.value, price.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
              </div>
          </form>
        </div>
      </div>
    